.iui-grid
{
	background-color: white;
	border: thin solid #dddddd;
    color: #000000;
}
.iui-grid-column-header, .iui-grid-column-footer
{
	background-color: #ffffff;
	border-color: transparent;
	border-bottom: thin solid #eaeaea;
}
.iui-grid-column-header-hovered
{
	background-color: #eaeaea !important;
	border-color: #eaeaea !important;
    color: #000000;
}
.iui-grid-column-header-selected
{
	background-color: #c8c8c8 !important;
	border-bottom-color: #767676 !important;
    color: #000000;
}
.iui-grid-column-header-cell-selected
{
	background-color: transparent;
}
.iui-grid-row-hovered
{
	background-color: #beddf4;
}
.iui-grid-row-selected
{
	background-color: #d7eaf9;
	color: #000000;
}
.iui-grid-row-cell:first-child
{
	border-left: thin solid transparent;
}
.iui-grid-row-cell:last-child
{
	border-right: thin solid transparent;
}
.iui-grid-lines-horizontal
{
	border-bottom: thin solid transparent;
}
.iui-grid-lines-vertical
{
	border-right: thin solid transparent;
}
.iui-grid-lines-both
{
	border-right: thin solid transparent;
	border-bottom: thin solid transparent;
}
.iui-grid-expand-box-open
{
	background: url(../../resources/expandbox-icons.png) no-repeat -16px 0;
	opacity: 0.5;
}
.iui-grid-expand-box-close
{
	background: url(../../resources/expandbox-icons.png) no-repeat -16px -16px;
}


/* Grouping */
.iui-grid-grouping-panel
{
	background-color: #ffffff;
	border-bottom: thin solid #d9d9d9;
}
.iui-grid-grouping-panel-item
{
	background-color: #dde4e9;
	border: thin solid #dde4e9;
}
.iui-grid-grouping-panel-toolbar-button-add
{
	background: #dde4e9;
    border: thin solid #dde4e9;
}
.iui-grid-grouping-marker::before
{
	border: 6px solid #dde4e9;
	border-color: transparent transparent transparent #dde4e9;
}
.iui-grid-grouping-marker::after
{
	border: 6px solid #dde4e9;
	border-color: transparent transparent transparent #dde4e9;
}
.iui-grid-grouping-panel-dropdown-list li:hover
{
    background: #e5e5e5;
}

.iui-grid .iui-sort-ascending
{
    background-position: -48px -80px;
}
.iui-grid .iui-sort-descending
{
    background-position: -32px -80px;
}
