.iui-treegrid-block-left, .iui-treegrid-block-right
{
	background: #f5f5f5;
}
.iui-treegrid-block-top-left .iui-treegrid-column-header, 
.iui-treegrid-block-top-left .iui-treegrid-column-footer, 
.iui-treegrid-block-top-right .iui-treegrid-column-header, 
.iui-treegrid-block-top-right .iui-treegrid-column-footer {
	background-color: #efefef;
	border: thin solid #efefef !important;
    color: #000000;
}
.iui-treegrid-block-top-left .iui-treegrid-column-header-hovered, 
.iui-treegrid-block-top-right .iui-treegrid-column-header-hovered {
	background-color: #eaeaea;
	border: thin solid #eaeaea !important;
    color: #000000;
}
.iui-treegrid-block-top-left .iui-treegrid-column-header-selected, 
.iui-treegrid-block-top-right .iui-treegrid-column-header-selected {
	background-color: #c8c8c8;
	border: thin solid #c8c8c8 !important;
	border-bottom-color: #767676 !important;
    color: #000000;
}

.iui-treegrid-column-header, .iui-treegrid-column-footer
{
	color: black;
}
.iui-treegrid-column-header
{
	border-bottom: thin solid transparent !important;
}
.iui-treegrid-column-footer
{
	border-top: thin solid transparent !important;
}
.iui-treegrid-column-header-hovered, .iui-treegrid-column-header-selected, .iui-treegrid-row-hovered, .iui-treegrid-row-selected
{
    animation-name: none;
}
.iui-treegrid-column-header-selected
{
	color: white !important;
}
.iui-treegrid-row-cell:first-child
{
	border-left: thin solid transparent;
}
.iui-treegrid-row-cell:last-child
{
	border-right: thin solid transparent;
}
.iui-treegrid-lines-horizontal:not(:last-child)
{
	border-left-color: transparent;
	border-right-color: transparent;
	border-bottom-color: transparent;
}
.iui-treegrid-lines-horizontal:last-child
{
	border-left-color: transparent;
	border-bottom-color: transparent;
}
.iui-treegrid-lines-vertical
{
	border-right-color: transparent;
}
.iui-treegrid-lines-both
{
	border-right-color: transparent;
	border-bottom-color: transparent;
}
.iui-treegrid-expand-box-open
{
	background: url(../../icons/expandbox-icons.png) no-repeat -16px 0;
	opacity: 0.5;
}
.iui-treegrid-expand-box-open:hover
{
	background: url(../../icons/expandbox-icons.png) no-repeat -16px 0;
	opacity: 0.5;
}
.iui-treegrid-expand-box-close
{
	background: url(../../icons/expandbox-icons.png) no-repeat -16px -16px;
}
.iui-treegrid-expand-box-close:hover
{
	background: url(../../icons/expandbox-icons.png) no-repeat -16px -16px;
}
.iui-treegrid-row, .iui-treegrid-row-fixed {
	color: black;
}



.iui-treegrid
{
	background-color: white;
	border: thin solid #dddddd;
    color: #000000;
}
.iui-treegrid-column-header, .iui-treegrid-column-footer
{
	background-color: #ffffff;
	border-color: transparent;
	border-bottom: thin solid #eaeaea;
}
.iui-treegrid-column-header-hovered
{
	background-color: #eaeaea !important;
	border-color: #eaeaea !important;
    color: #000000;
}
.iui-treegrid-column-header-selected
{
	background-color: #c8c8c8 !important;
	border-bottom-color: #767676 !important;
    color: #000000;
}
.iui-treegrid-column-header-cell-selected
{
	background-color: transparent;
}
.iui-treegrid-row-hovered
{
	background-color: #beddf4;
}
.iui-treegrid-row-selected
{
	background-color: #d7eaf9;
	color: #000000;
}
.iui-treegrid-row-cell:first-child
{
	border-left: thin solid transparent;
}
.iui-treegrid-row-cell:last-child
{
	border-right: thin solid transparent;
}
.iui-treegrid-lines-horizontal
{
	border-bottom: thin solid transparent;
}
.iui-treegrid-lines-vertical
{
	border-right: thin solid transparent;
}
.iui-treegrid-lines-both
{
	border-right: thin solid transparent;
	border-bottom: thin solid transparent;
}
.iui-treegrid-expand-box-open
{
	background: url(../../icons/expandbox-icons.png) no-repeat -16px 0;
	opacity: 0.5;
}
.iui-treegrid-expand-box-close
{
	background: url(../../icons/expandbox-icons.png) no-repeat -16px -16px;
}

.iui-treegrid .iui-sort-ascending
{
    background-position: -48px -80px;
}
.iui-treegrid .iui-sort-descending
{
    background-position: -32px -80px;
}

/* Animation */
.iui-treegrid-column-animate-select
{
	background: #eaeaea;
}
.iui-treegrid-row-animate-select
{
	background: #beddf4;
}
