.iui-treeitem-content-hovered
{
    background-color: #e6f2fb;
    border: 2px solid #e6f2fb;
    color: #242424;
}
.iui-treeitem-content-selected
{
    background-color: #d7eaf9;
    border: 2px solid #d7eaf9;
    color: #242424;
}
.iui-treeitem-expand-box
{
    background: url(../../resources/expandbox-icons.png) no-repeat -16px -48px;
}
.iui-treeitem-expand-box-open
{
    background-position: -16px -16px;
	opacity: 0.5;
}
.iui-treeitem-expand-box-open-animate
{
    background-position: -16px 0;
	opacity: 0.5;
}
.iui-treeitem-expand-box-close
{
    background-position: -16px 0;
}
.iui-treeitem-expand-box-close-animate
{
    background-position: -16px 0;
}
