.iui-listitem-hovered
{
    animation-name: none;
	background-color: #82ff82;
	border: 2px solid #82ff82;
}
.iui-listitem-selected
{
    animation-name: none;
	background-color: #00c400;
	border: 2px solid #00c400;
    color: white;
}
.iui-listitem-animate-select
{
	background: #82ff82;
}