.iui-menu
{
	background-color: #008500;
    color: black;
}
.iui-menu > ul
{
	background-color: #008500;
}
.iui-menuitem-root, .iui-menuitem-root-vertical
{
	background: none;
	border: solid thin #008500;
	color: white;
}
.iui-menuitem-root-hovered, .iui-menuitem-root-selected
{
	background-color: #24cf24;
	border: solid thin #008500;
	color: black;
}
.iui-menuitem-root-hovered a
{
	color: black;
}
.iui-menuitem-hovered
{
	background-color: #d1ffd1 !important;
	border: solid thin #80ee80 !important;
}
.iui-menuitem-selected
{
	background-color: white;
	border: solid thin gray;
}
.iui-menuitem-selected a
{
	color: black;
}
.iui-menu li > ul
{
	background-color: #fefefe;
	border: solid thin #008500;
}
.iui-menu-expand-box
{
	width: 16px;
	height: 16px;
	background: url(../../resources/icons.png) no-repeat 0 0;
}
.iui-menuitem
{
	background-color: #fefefe;
	border: solid thin #fefefe;
	color: black;
}
.iui-menu-marker-expand-down::before
{
	border: 4px solid #21C921;
	border-color: #21C921 transparent transparent transparent;
}
.iui-menu-marker-expand-down-rtl::before
{
	border: 4px solid #21C921;
	border-color: #21C921 transparent transparent transparent;
}
.iui-menu-marker-expand-right::before
{
	border: 4px solid #21C921;
	border-color: transparent transparent transparent #21C921;
}
.iui-menu-marker-expand-left::before
{
	border: 4px solid #21C921;
	border-color: transparent #21C921 transparent transparent;
}
.iui-menu-marker-top::before
{
	border: 4px solid #fefefe;
	border-color: transparent transparent #008500 transparent;
}
.iui-menu-marker-top::after
{
	border: 4px solid #fefefe;
	border-color: transparent transparent #fefefe transparent;
}
.iui-menu-marker-top-rtl::before
{
	border: 4px solid #fefefe;
	border-color: transparent transparent #008500 transparent;
}
.iui-menu-marker-top-rtl::after
{
	border: 4px solid #fefefe;
	border-color: transparent transparent #fefefe transparent;
}
.iui-menu-marker-left::before
{
	border: 4px solid #fefefe;
	border-color: transparent #008500 transparent transparent;
}
.iui-menu-marker-left::after
{
	border: 4px solid #fefefe;
	border-color: transparent #fefefe transparent transparent;
}
.iui-menu-marker-right::before
{
	border: 4px solid #fefefe;
	border-color: transparent transparent transparent #008500;
}
.iui-menu-marker-right::after
{
	border: 4px solid #fefefe;
	border-color: transparent transparent transparent #fefefe;
}
.iui-menu-disabled > ul
{
	background: #808080;
}
.iui-menuitem-root-disabled, .iui-menuitem-disabled
{
	border: solid thin transparent;
	color: #cecece;
}
