@import 'office365/integralui.button.office365.css';
@import 'office365/integralui.contextmenu.office365.css';
@import 'office365/integralui.dropdownbutton.office365.css';
@import 'office365/integralui.grid.office365.css';
@import 'office365/integralui.groupbox.office365.css';
@import 'office365/integralui.listbox.office365.css';
@import 'office365/integralui.listgroup.office365.css';
@import 'office365/integralui.listitem.office365.css';
@import 'office365/integralui.listview.office365.css';
@import 'office365/integralui.listscroller.office365.css';
@import 'office365/integralui.menu.office365.css';
@import 'office365/integralui.numeric-updown.office365.css';
@import 'office365/integralui.slider.office365.css';
@import 'office365/integralui.splitcontainer.office365.css';
@import 'office365/integralui.splitter.office365.css';
@import 'office365/integralui.tab.office365.css';
@import 'office365/integralui.tabstrip.office365.css';
@import 'office365/integralui.treegrid.office365.css';
@import 'office365/integralui.treeitem.office365.css';
@import 'office365/integralui.treelist.office365.css';
@import 'office365/integralui.treeview.office365.css';
