.iui-numeric-inbound-btn
{
	background: #e2e2e2;
	border: thin solid #e2e2e2;
}
.iui-numeric-inbound-btn:hover
{
	background: #91c1e7;
	border: thin solid #91c1e7;
}

/* DisplayMode - LeftRight */
.iui-numeric-leftright-buttons
{
	background: #e2e2e2;
	border: thin solid #e2e2e2;
}
.iui-numeric-leftright-buttons:hover
{
	background: #91c1e7;
	border: thin solid #91c1e7;
}

/* DisplayMode - UpDown */
.iui-numeric-updown-buttons
{
	background: #e2e2e2;
	border: thin solid #e2e2e2;
}
.iui-numeric-updown-buttons:hover
{
	background: #91c1e7;
	border: thin solid #91c1e7;
}

