.iui-contextmenu {
    background-color: #252526;
	border: solid thin #151515;
	box-shadow: 0 2px 5px #151515;
	color: #cccccc;
}
.iui-contextmenu .iui-menuitem-block {
	background: #252526;
	border: solid thin #151515;
}
.iui-contextmenu .iui-menuitem-root {
	border-color: transparent;
	color: #cccccc;
}
.iui-contextmenu .iui-menuitem-root-hovered, .iui-contextmenu .iui-menuitem-root-selected {
    animation-name: none;
    background-color: #1177bb !important;
    border-color: #1177bb !important;
    color: white;
}
