@import 'win10/integralui.button.win10.css';
@import 'win10/integralui.contextmenu.win10.css';
@import 'win10/integralui.dropdownbutton.win10.css';
@import 'win10/integralui.grid.win10.css';
@import 'win10/integralui.groupbox.win10.css';
@import 'win10/integralui.listbox.win10.css';
@import 'win10/integralui.listgroup.win10.css';
@import 'win10/integralui.listitem.win10.css';
@import 'win10/integralui.listscroller.win10.css';
@import 'win10/integralui.listview.win10.css';
@import 'win10/integralui.menu.win10.css';
@import 'win10/integralui.numeric-updown.win10.css';
@import 'win10/integralui.slider.win10.css';
@import 'win10/integralui.splitcontainer.win10.css';
@import 'win10/integralui.splitter.win10.css';
@import 'win10/integralui.tab.win10.css';
@import 'win10/integralui.tabstrip.win10.css';
@import 'win10/integralui.treegrid.win10.css';
@import 'win10/integralui.treeitem.win10.css';
@import 'win10/integralui.treelist.win10.css';
@import 'win10/integralui.treeview.win10.css';

