.iui-grid
{
	background-color: white;
	border: thin solid #dadada;
    color: black;
}
.iui-grid-column-header, .iui-grid-column-footer
{
	background-color: #f0f0f0;
	border-color: #d5d5d5;
}
.iui-grid-column-header-hovered
{
	background-color: #ce0000;
	border-color: #990000;
	color: white;
}
.iui-grid-column-header-selected
{
	background-color: #800000;
	border: thin solid #640000;
	color: white;
}
.iui-grid-row-hovered
{
	background-color: #ffe5e5;
}
.iui-grid-row-selected
{
	background-color: #ff7d7d;
	color: white;
}

