.iui-listitem-hovered
{
    animation-name: none;
	background-color: #ffe5e5;
	border: 2px solid #ffe5e5;
}
.iui-listitem-selected
{
    animation-name: none;
	background-color: #ff7d7d;
	border: 2px solid #ff7d7d;
	color: white;
}
.iui-listitem-animate-select
{
	background: #ffe5e5;
}