.iui-menu
{
	background-color: #a61000;
    color: black;
}
.iui-menu > ul
{
	background-color: #a61000;
}
.iui-menuitem-root, .iui-menuitem-root-vertical
{
	background: none;
	border: solid thin #a61000;
	color: white;
}
.iui-menuitem-root-hovered, .iui-menuitem-root-selected
{
	background-color: #E61700;
	border: solid thin #E61700;
	color: white;
}
.iui-menuitem-root-hovered a
{
	color: black;
}
.iui-menuitem-hovered
{
	background-color: #ffe5e5 !important;
	border: solid thin #ffcece !important;
}
.iui-menuitem-selected
{
	background-color: white;
	border: solid thin gray;
}
.iui-menuitem-selected a
{
	color: black;
}
.iui-menu li > ul
{
	background-color: #fefefe;
	border: solid thin #FB4B54;
}
.iui-menu-expand-box
{
	width: 16px;
	height: 16px;
	background: url(../../resources/icons.png) no-repeat 0 0;
}
.iui-menuitem
{
	background-color: #fefefe;
	border: solid thin #fefefe;
	color: black;
}
.iui-menu-marker-expand-down::before
{
	border: 4px solid #FF7272;
	border-color: #FF7272 transparent transparent transparent;
}
.iui-menu-marker-expand-down-rtl::before
{
	border: 4px solid #FF7272;
	border-color: #FF7272 transparent transparent transparent;
}
.iui-menu-marker-expand-right::before
{
	border: 4px solid #FF7272;
	border-color: transparent transparent transparent #FF7272;
}
.iui-menu-marker-expand-left::before
{
	border: 4px solid #FF7272;
	border-color: transparent #FF7272 transparent transparent;
}
.iui-menu-marker-top::before
{
	border: 4px solid #fefefe;
	border-color: transparent transparent #FB4B54 transparent;
}
.iui-menu-marker-top::after
{
	border: 4px solid #fefefe;
	border-color: transparent transparent #fefefe transparent;
}
.iui-menu-marker-top-rtl::before
{
	border: 4px solid #fefefe;
	border-color: transparent transparent #FB4B54 transparent;
}
.iui-menu-marker-top-rtl::after
{
	border: 4px solid #fefefe;
	border-color: transparent transparent #fefefe transparent;
}
.iui-menu-marker-left::before
{
	border: 4px solid #fefefe;
	border-color: transparent #FB4B54 transparent transparent;
}
.iui-menu-marker-left::after
{
	border: 4px solid #fefefe;
	border-color: transparent #fefefe transparent transparent;
}
.iui-menu-marker-right::before
{
	border: 4px solid #fefefe;
	border-color: transparent transparent transparent #FB4B54;
}
.iui-menu-marker-right::after
{
	border: 4px solid #fefefe;
	border-color: transparent transparent transparent #fefefe;
}
.iui-menu-disabled > ul
{
	background: #808080;
}
.iui-menuitem-root-disabled, .iui-menuitem-disabled
{
	border: solid thin transparent;
	color: #cecece;
}
