.iui-item
{
	border: thin solid transparent;
}
.iui-item-label
{
	border: thin solid transparent;
	display: inline-block;
	padding: 2px;
}
.iui-item-icon
{

}
.iui-item-icon-url
{
	vertical-align: middle;
}

/* Disabled State */
.iui-item-disabled div
{
	opacity: 0.75;
	pointer-events: none;
}

