.iui-listbox
{
	background: white;
	border: thin solid #cecece;
	overflow: auto;
	padding: 1px;
	position: relative;
	cursor: default;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Disabled State */
.iui-listbox-disabled div, .iui-listbox-disabled ul
{
	opacity: 0.75;
	pointer-events: none;
}

