@import 'integralui.css';

.iui-treeview
{
    background: white;
	border: thin solid #cecece;
    cursor: default;
	overflow: hidden;
	padding: 1px;
    position: relative;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.iui-treeview-item-empty-content
{
    background: #f5f5f5;
    margin: 0;
}

/* Disabled State */
.iui-treeview-disabled div, .iui-treeview-disabled ul
{
    opacity: 0.75;
    pointer-events: none;
}
