.iui-dragwin
{
	background: -webkit-linear-gradient(white, #F1EFEC);
	background:    -moz-linear-gradient(white, #F1EFEC);
	background:     -ms-linear-gradient(white, #F1EFEC);
	background:      -o-linear-gradient(white, #F1EFEC);
    background :         linear-gradient(white, #F1EFEC);

    background-color: #F1EFEC;
	border: thin solid black;
	border-radius: 3px;
	margin:0;
	padding: 2px;
	position: absolute;
	box-shadow: 0 0 3px #888888;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	max-width: 200px;
	z-index: 9999999;
}
.iui-dragwin-title
{
	border-left: thin solid #c5c5c5;
	padding: 3px 3px 3px 5px;
	margin: 0 2px 0 0;
	vertical-align: middle;
}
.iui-dragwin-icon
{
    background-image: url(../../resources/drag-drop.png);
    background-repeat: no-repeat;
	display: inline-block;
	padding: 0;
	margin: 2px 0 3px 2px;
	width: 16px;
	height: 16px;
	vertical-align: middle;
}
.iui-dragwin-move-left
{
	background-position: 0 0;
}
.iui-dragwin-move-up
{
	background-position: -16px 0;
}
.iui-dragwin-move-in
{
	background-position: -32px 0;
}
.iui-dragwin-move-right
{
	background-position: -48px 0;
}
.iui-dragwin-move-down
{
	background-position: -64px 0;
}
.iui-dragwin-move-end
{
	background-position: -80px 0;
}
.iui-dragwin-move-left-copy
{
	background-position: 0 -16px;
}
.iui-dragwin-move-up-copy
{
	background-position: -16px -16px;
}
.iui-dragwin-move-in-copy
{
	background-position: -32px -16px;
}
.iui-dragwin-move-right-copy
{
	background-position: -48px -16px;
}
.iui-dragwin-move-down-copy
{
	background-position: -64px -16px;
}
.iui-dragwin-move-end-copy
{
	background-position: -80px -16px;
}



