.iui-listitem
{
	color: #646464;
}
.iui-listitem-hovered
{
    background-color: transparent;
    border: 2px solid transparent;
	color: #000000;

    animation-name: iui-listitem-hovered-animate-enter;
	animation-delay: 0s;
	animation-direction: normal;
	animation-duration: 0.15s;
	animation-fill-mode: forwards;
	animation-iteration-count: 1;
	animation-play-state: running;
	animation-timing-function: linear; 
}
@keyframes iui-listitem-hovered-animate-enter {
    0% { background: transparent; border-color: transparent; }
    100% { background: #d9edfd; border-color: #d9edfd; }
}
.iui-listitem-selected
{
    background-color: #d9edfd;
    border: 2px solid transparent;
	color: #000000;

    animation-name: iui-listitem-selected-animate-enter;
	animation-delay: 0s;
	animation-direction: normal;
	animation-duration: 0.25s;
	animation-fill-mode: forwards;
	animation-iteration-count: 1;
	animation-play-state: running;
	animation-timing-function: linear; 
}
@keyframes iui-listitem-selected-animate-enter {
    0% { background: #d9edfd; border-color: #d9edfd; }
    100% { background: #a5d3fa; border-color: #a5d3fa; }
}
.iui-listitem-animate-select
{
	background: #d9edfd;
}