.iui-treeitem-content
{
    color: #646464;
}
.iui-treeitem-content-hovered
{
    background-color: transparent;
    border: 2px solid transparent;
	color: #000000;

    animation-name: iui-treeitem-content-hovered-animate-enter;
    animation-delay: 0s;
    animation-direction: normal;
    animation-duration: 0.15s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-play-state: running;
    animation-timing-function: linear; 
}
@keyframes iui-treeitem-content-hovered-animate-enter {
    0% { background: transparent; border-color: transparent; }
    100% { background: #d9edfd; border-color: #d9edfd; }
}
.iui-treeitem-content-selected
{
    background-color: transparent;
    border: 2px solid transparent;
	color: #000000;

    animation-name: iui-treeitem-content-selected-animate-enter;
    animation-delay: 0s;
    animation-direction: normal;
    animation-duration: 0.25s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-play-state: running;
    animation-timing-function: linear; 
}
@keyframes iui-treeitem-content-selected-animate-enter {
    0% { background: #d9edfd; border-color: #d9edfd; }
    100% { background: #a5d3fa; border-color: #a5d3fa; }
}
.iui-treeitem-expand-box
{
    background: url(../../resources/expandbox-icons.png) no-repeat -80px -48px;
}
.iui-treeitem-expand-box-open
{
    background-position: -80px -16px;
}
.iui-treeitem-expand-box-open:hover
{
    background-position: -64px -16px;
}
.iui-treeitem-expand-box-close
{
    background-position: -80px 0;
}
.iui-treeitem-expand-box-close:hover
{
    background-position: -64px 0;
}
.iui-treeitem-expand-box-open-animate
{
    background-position: -64px 0;
}
.iui-treeitem-expand-box-close-animate
{
    background-position: -64px 0;
}
