.iui-tabstrip {
	background: #1e1e1e;
}
.iui-tabstrip ul {
	padding: 4px;
}
.iui-tabstrip-content {
    background: #252526;
    border: thin solid #151515;
}
.iui-tabstrip-line {
    background: #0e639c;
	display: block;
}
.iui-tabstrip-scroll-inbound, .iui-tabstrip-scroll-outbound {
	background: #1e1e1e;
}
.iui-tabstrip-scroll-border-bottom {
	border-bottom: thin solid #151515;
}
.iui-tabstrip-scroll-border-left {
	border-left: thin solid #151515;
}
.iui-tabstrip-scroll-border-right {
	border-right: thin solid #151515;
}
.iui-tabstrip-scroll-border-top {
	border-top: thin solid #151515;
}
.iui-tabstrip-scroll-button {
	background: #1e1e1e;
	border-color: #1e1e1e;
	opacity: 0.5;
}
.iui-tabstrip-scroll-button:hover, .iui-tabstrip-scroll-button-selected {
	background: #1e1e1e;
	border-color: #1e1e1e;
	opacity: 0.75;
}
.iui-tabstrip-scroll-button-left span {
    background-image: url(../../icons/prev-white-24.png);
}
.iui-tabstrip-scroll-button-right span {
    background-image: url(../../icons/next-white-24.png);
}
.iui-tabstrip-scroll-button-up span {
    background-image: url(../../icons/up-white-24.png);
}
.iui-tabstrip-scroll-button-down span {
    background-image: url(../../icons/down-white-24.png);
}
