.iui-dialog
{
	background-color: #252526;
	box-shadow: 0 5px 20px #151515;
}

.iui-dialog-overlay
{
  	background: #808080;
}
.iui-dialog-button-close {
    background-image: url(../../icons/close-white-24.png);
}
