.iui-menu
{
	background-color: #bcbcbc;
    color: #000000;
}
.iui-menu-block
{
	border-radius: 0;
	padding: 0;
}
.iui-menu > ul
{
	background-color: #bcbcbc;
	border-radius: 0;
}
.iui-menuitem-root, .iui-menuitem-root-vertical
{
	background: none;
	border: solid thin #bcbcbc;
	color: #000000;
	padding: 5px 6px 5px 4px;
}
.iui-menuitem-root .iui-menuitem-root-content
{
	margin: 0 10px;
}
.iui-menuitem-root-hovered, .iui-menuitem-root-selected
{
	background-color: #dedede;
	border: solid thin #dedede;
	border-radius: 0;
	color: #000000;
}
.iui-menuitem-root-vertical
{
    border-bottom: thin solid #d5d5d5 !important;
}
.iui-menuitem-root-hovered a
{
	color: black;
}
.iui-menu-disabled > ul
{
	background: #808080;
}
.iui-menuitem-root-disabled, .iui-menuitem-disabled
{
	border: solid thin transparent;
	color: #858585;
}
.iui-menuitem
{
	background-color: #ffffff;
	border: solid thin #ffffff;
	border-radius: 0;
	color: #000000;
	padding: 4px 4px 5px 4px;
}
.iui-menuitem-hovered, .iui-menuitem-selected
{
	background-color: #f5f5f5 !important;
	border: solid thin #f5f5f5 !important;
	color: #000000;
}
.iui-menuitem-selected a
{
	color: black;
}
.iui-menuitem-separator
{
    background-color: #919191;
}
.iui-menu li > ul
{
	background-color: #ffffff;
	border: solid thin #a0a0a0;
	border-radius: 0;
	padding: 0;
}
.iui-menu-expand-box
{
	width: 16px;
	height: 16px;
	background: url(../../resources/icons.png) no-repeat 0 0;
}
.iui-menu-marker-expand-down::before
{
	border: 7px solid #000000;
	border-color: #000000 transparent transparent transparent;
	top: 14px;
	right: 5px;
}
.iui-menu-marker-expand-down::after
{
	border: 7px solid #bcbcbc;
	border-color: #bcbcbc transparent transparent transparent;
	top: 12px;
	right: 5px;
}
.iui-menu-marker-expand-down:hover::after
{
	border: 7px solid #dedede;
	border-color: #dedede transparent transparent transparent;
	top: 12px;
	right: 5px;
}
.iui-menu-marker-expand-down-rtl::before
{
	border: 7px solid #000000;
	border-color: #000000 transparent transparent transparent;
	top: 14px;
	left: 5px;
}
.iui-menu-marker-expand-down-rtl::after
{
	border: 7px solid #bcbcbc;
	border-color: #bcbcbc transparent transparent transparent;
	top: 12px;
	left: 5px;
}
.iui-menu-marker-expand-down-rtl:hover::after
{
	border: 7px solid #dedede;
	border-color: #dedede transparent transparent transparent;
	top: 12px;
	left: 5px;
}
.iui-menu-marker-expand-right::before
{
	border: 7px solid #323232;
	border-color: transparent transparent transparent #323232;
	top: 30%;
	left: auto;
	right: 2px;
}
.iui-menu-marker-expand-right::after
{
	border: 7px solid #ffffff;
	border-color: transparent transparent transparent #ffffff;
	top: 30%;
	left: auto;
	right: 4px;
}
.iui-menu-marker-expand-right:hover::after
{
	border: 7px solid #f5f5f5;
	border-color: transparent transparent transparent #f5f5f5;
	top: 30%;
	left: auto;
	right: 4px;
}
.iui-menu-marker-expand-left::before
{
	border: 7px solid #323232;
	border-color: transparent #323232 transparent transparent;
	top: 30%;
	left: 2px;
	right: auto;
}
.iui-menu-marker-expand-left::after
{
	border: 7px solid #ffffff;
	border-color: transparent #ffffff transparent transparent;
	top: 30%;
	left: 4px;
	right: auto;
}
.iui-menu-marker-expand-left:hover::after
{
	border: 7px solid #f5f5f5;
	border-color: transparent #f5f5f5 transparent transparent;
	top: 30%;
	left: 4px;
	right: auto;
}
.iui-menu-marker-top::before
{
	border: 6px solid #ffffff;
	border-color: transparent transparent #a0a0a0 transparent;
	top: -13px;
	left: 10px;
}
.iui-menu-marker-top::after
{
	border: 6px solid #ffffff;
	border-color: transparent transparent #fefefe transparent;
	top: -12px;
	left: 10px;
}
.iui-menu-marker-top-rtl::before
{
	border: 6px solid #ffffff;
	border-color: transparent transparent #a0a0a0 transparent;
	top: -12px;
	right: 10px;
}
.iui-menu-marker-top-rtl::after
{
	border: 6px solid #ffffff;
	border-color: transparent transparent #ffffff transparent;
	top: -12px;
	right: 10px;
}
.iui-menu-marker-left::before
{
	border: 8px solid #ffffff;
	border-color: transparent #a0a0a0 transparent transparent;
	top: 9px;
	left: -16px;
}
.iui-menu-marker-left::after
{
	border: 8px solid #ffffff;
	border-color: transparent #ffffff transparent transparent;
	top: 9px;
	left: -15px;
}
.iui-menu-marker-right::before
{
	border: 8px solid #ffffff;
	border-color: transparent transparent transparent #a0a0a0;
	top: 9px;
	right: -16px;
}
.iui-menu-marker-right::after
{
	border: 8px solid #ffffff;
	border-color: transparent transparent transparent #ffffff;
	top: 9px;
	right: -15px;
}

.iui-menuitem-root-separator, .iui-menuitem-separator
{
	background: #ffffff;
}






