.iui-treegrid
{
	border: thin solid #d9d9d9;
    color: #000000;
}
.iui-treegrid-column-header, .iui-treegrid-column-footer
{
	background-color: #ffffff;
	border-color: transparent;
	border-right: thin solid #e6e6e6 !important;
	color: #49678f;
}
.iui-treegrid-column-header
{
	border-bottom: thin solid #e6e6e6 !important;
}
.iui-treegrid-column-footer
{
	border-top: thin solid #e6e6e6 !important;
	color: #323232;
}
.iui-treegrid-column-header-hovered
{
	background-color: #d9ebf9;
	border-color: #d9ebf9;
    color: #49678f;
}
.iui-treegrid-column-header-selected
{
	background-color: #bcdcf4;
	border-right-color: #bcdcf4;
    color: #3d5576;
}
.iui-treegrid-column-header-cell-selected
{
	background-color: transparent;
}
.iui-treegrid-row-hovered
{
	background-color: #e5f3fe;
}
.iui-treegrid-row-selected
{
	background-color: #cce8ff;
	border-color: #99d1ff;
	color: #000000;
}
.iui-treegrid-row-cell:first-child
{
	border-left: thin solid transparent;
}
.iui-treegrid-row-cell:last-child
{
	border-right: thin solid transparent;
}
.iui-treegrid-lines-horizontal
{
	border-bottom: thin solid transparent;
}
.iui-treegrid-lines-vertical
{
	border-right: thin solid transparent;
}
.iui-treegrid-lines-both
{
	border-right: thin solid transparent;
	border-bottom: thin solid transparent;
}
.iui-treegrid-expand-box-open
{
	background: url(../../resources/expandbox-icons.png) no-repeat -16px 0;
	opacity: 0.5;
}
.iui-treegrid-expand-box-close
{
	background: url(../../resources/expandbox-icons.png) no-repeat -16px -16px;
}

.iui-treegrid .iui-sort-ascending
{
    background-position: -48px -80px;
}
.iui-treegrid .iui-sort-descending
{
    background-position: -32px -80px;
}
