.iui-splitcontainer-tab
{
	border: thin solid #d9d9d9;
}
.iui-splitcontainer-splitter
{
	background: #e5f3fe;
	border: thin solid #d9d9d9;
}
.iui-splitcontainer-panel
{
	border: thin solid #d9d9d9;
}
.iui-splitcontainer-swap-button:hover
{
	background: #fefefe;
	border-color: #d9d9d9;
}
