@import 'integralui.groupbox.win10.css';

/* Header Normal State */
.iui-listgroup-header
{
	background-color: #e2e2e2;
	border: thin solid #e2e2e2;
}
/* Header Hover State */
.iui-listgroup-header-hovered
{
	background-color: #91c1e7;
	border: thin solid #91c1e7;
}
/* Header Selected State */
.iui-listgroup-header-selected
{
	background-color: #318ad2;
	border: thin solid #318ad2;
	color: white;
}
.iui-listgroup-content
{
	background-color: #ffffff;
	border: solid thin #d9d9d9;
}

.iui-listgroup-header-selected .iui-listgroup-header-expand-box
{
	background: #ffffff !important;
}
