<li [ngClass]="getControlClass()">
	<div [ngClass]="getContentClass()" (dragover)="itemDragOver($event)" (drop)="itemDragDrop($event)" #content>
		<span [ngClass]="getExpandBoxClass()" (mousedown)="onExpandBoxMouseDown($event)"></span>
		<div draggable="true" (click)="onClick($event)" (mousedown)="onMouseDown($event)" (mouseup)="onMouseUp($event)" (mouseenter)="onMouseEnter($event)" (mousemove)="onMouseMove($event)" (mouseleave)="onMouseLeave($event)" (dragstart)="itemDragStart($event)" #dragElem>
			<template ngFor [ngForOf]="templateData" [ngForTemplate]="templateRef"></template> 
		</div>
	</div> 
	<ul [ngClass]="getBlockClass()" [ngStyle]="{ 'height': blockElemHeight }" #block>
	    <iui-treeitem *ngFor="let item of items" [expanded]="item.expanded" [text]="item.text" [items]="item.items" [templateRef]="templateRef" [data]="item"></iui-treeitem>
	</ul>
</li>